* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v7_0 {
  width: 100%;
  height: 1412px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v70_15 {
  width: 877px;
  height: 182px;
  background: url("../images/v70_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 504px;
  overflow: hidden;
}
.v19_55 {
  width: 877px;
  height: 182px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  border: 2px solid rgba(192,155,22,1);
  overflow: hidden;
}
.v18_71 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 12px;
  left: 30px;
  font-family: Lato;
  font-weight: Medium;
  font-size: 29px;
  opacity: 1;
  text-align: left;
}
.v18_73 {
  width: 533px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 17px;
  left: 284px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v70_16 {
  width: 878px;
  height: 780px;
  background: url("../images/v70_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 444px;
  left: 504px;
  overflow: hidden;
}
.v18_85 {
  width: 878px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 86px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_104 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 253px;
  left: 518px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_76 {
  width: 310px;
  color: rgba(159,132,189,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v18_101 {
  width: 468px;
  height: 482px;
  background: url("../images/v18_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 703px;
  left: 504px;
  overflow: hidden;
}

.v18_102 {
  width: 600px;
  height: 315px;
  background: url("../images/berkeley_sign1.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 350px;
  left: 800px;
  overflow: hidden;
}

.v43_1 {
  width: 468px;
  height: 961px;
  background: url("../images/v43_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 260px;
  left: 19px;
  overflow: hidden;
}
.v18_47 {
  width: 160px;
  color: rgba(25,157,164,1);
  position: absolute;
  top: 76px;
  left: 62px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v18_64 {
  width: 374px;
  height: 251px;
  background: url("../images/v18_64.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 58px;
  overflow: hidden;
}
.v18_58 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 395px;
  left: 58px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_68 {
  width: 235px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 401px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v18_59 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 457px;
  left: 48px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_70 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 459px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_48 {
  width: 160px;
  color: rgba(25,157,164,1);
  position: absolute;
  top: 513px;
  left: 73px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: left;
}
.v18_65 {
  width: 361px;
  height: 231px;
  background: url("../images/v18_65.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 565px;
  left: 71px;
  overflow: hidden;
}
.v18_75 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 813px;
  left: 66px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_66 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 815px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v18_62 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 874px;
  left: 58px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_67 {
  width: 169px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 876px;
  left: 179px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v18_81 {
  width: 1px;
  height: 961px;
  background: rgba(37,40,61,0.5);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 467px;
  overflow: hidden;
}
.v18_46 {
  width: 286px;
  color: rgba(37,40,61,1);
  position: absolute;
  top: 2px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v119_2 {
  width: 814px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 310px;
  left: 534px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v148_190 {
  width: 468px;
  height: 17px;
  background: rgba(192,155,22,1);
  opacity: 1;
  position: absolute;
  top: 1168px;
  left: 504px;
  overflow: hidden;
}
.v148_191 {
  width: 100%;
  height: 161px;
  background: url("../images/v148_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1251px;
  left: 1px;
  overflow: hidden;
}
.v148_192 {
  width: 100%;
  height: 20px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1px;
  overflow: hidden;
}
.v148_193 {
  width: 100%;
  height: 143px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v148_194 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 1205px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_195 {
  width: 171px;
  height: 49px;
  background: url("../images/v148_195.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 1211px;
  overflow: hidden;
}
.v148_196 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_196.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v148_197 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 61px;
  overflow: hidden;
}
.v148_198 {
  width: 49px;
  height: 49px;
  background: url("../images/v148_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v148_199 {
  width: 775px;
  height: 76px;
  font-family: Lato;
  font-weight: Regular;
  background: url("../images/v148_199.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 351px;
  overflow: hidden;
}
.v148_200 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_201 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 416px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_202 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_203 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_204 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v71_9 {
  width: 100%;
  height: 208px;
  background: url("../images/v71_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_40 {
  width: 100%;
  height: 159px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v82_0 {
  width: 100%;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 1px;
  overflow: hidden;
}
.v19_0 {
  width: 286px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 1156px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_4 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 867px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_5 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 578px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_6 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 289px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_7 {
  width: 285px;
  height: 50px;
  background: rgba(159,132,189,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v19_7 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 1275px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_8 {
  width: 150px;
  height: 121px;
  background: url("../images/v19_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 645px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v18_0 {
  width: 989px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 251px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v71_8 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 110px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v19_4 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 390px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v19_5 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 676px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v19_6 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 978px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}

/* about */

* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v7_1 {
  width: 100%;
  height: 900px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_236 {
  width: 248px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 49px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 60px;
  opacity: 1;
  text-align: left;
}
.v19_247 {
  width: 547px;
  height: 335px;
  background: url("../images/v19_247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 824px;
  overflow: hidden;
}
.v19_250 {
  width: 717px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 347px;
  left: 49px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v18_79 {
  width: 39px;
  height: 162px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 707px;
  left: 610px;
  border: 0px solid rgba(181,214,214,1);
  overflow: hidden;
}
.v148_205 {
  width: 100%;
  height: 161px;
  background: url("../images/v148_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 739px;
  left: 1px;
  overflow: hidden;
}
.v148_206 {
  width: 100%;
  height: 20px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1px;
  overflow: hidden;
}
.v148_207 {
  width: 100%;
  height: 143px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v148_208 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 1205px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_209 {
  width: 171px;
  height: 49px;
  background: url("../images/v148_209.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 1211px;
  overflow: hidden;
}
.v148_210 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_210.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v148_211 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 61px;
  overflow: hidden;
}
.v148_212 {
  width: 49px;
  height: 49px;
  background: url("../images/v148_212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v148_213 {
  width: 775px;
  height: 76px;
  background: url("../images/v148_213.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Lato;
  font-weight: Regular;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 351px;
  overflow: hidden;
}
.v148_214 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_215 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 416px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_216 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_217 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_218 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v71_103 {
  width: 100%;
  height: 208px;
  background: url("../images/v71_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v82_1 {
  width: 100%;
  height: 53px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 0px;
  overflow: hidden;
}
.v71_104 {
  width: 100%;
  height: 159px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}

.v71_105 {
  width: 286px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 1156px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_106 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 867px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_107 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 578px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_108 {
  width: 285px;
  height: 50px;
  background: rgba(159,132,189,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 289px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_109 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_110 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 1275px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_111 {
  width: 98px;
  height: 79px;
  background: url("../images/v1_443-Logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 49px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v71_113 {
  width: 907px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 30px;
  left: 267px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 80px;
  opacity: 1;
  text-align: center;
}
.v71_114 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 110px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v71_115 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 390px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v71_116 {
  width: 89px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 676px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_117 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 978px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}


/* rooms */

* {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
.v7_2 {
  width: 100%;
  height: 1175px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_156 {
  width: 286px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 254px;
  left: 49px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v71_102 {
  width: 100%;
  height: 310px;
  background: url("../images/v71_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 660px;
  left: 151px;
  overflow: hidden;
}
.v19_168 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_170 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 348px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_172 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 696px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_174 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1044px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_192 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_194 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 348px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_196 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 696px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v19_198 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 1044px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v71_101 {
  width: 100%;
  height: 505px;
  background: url("../images/v71_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 632px;
  left: 108px;
  overflow: hidden;
}
.v19_169 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_171 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 348px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_173 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 696px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_175 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 1044px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_193 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_195 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 347px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_197 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 290px;
  left: 694px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v19_199 {
  width: 181px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 1041px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 21px;
  opacity: 1;
  text-align: center;
}
.v71_100 {
  width: 100%;
  height: 755px;
  background: url("../images/v71_100.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 0px;
  overflow: hidden;
}
.v19_200 {
  width: 269px;
  height: 185px;
  background: url("../images/berkeley_room_2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 64px;
  overflow: hidden;
}
.v19_201 {
  width: 270px;
  height: 184px;
  background: url("../images/berkeley_room_2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 411px;
  overflow: hidden;
}
.v19_207 {
  width: 270px;
  height: 184px;
  background: url("../images/berkeley_room_3.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 1104px;
  overflow: hidden;
}
.v19_202 {
  width: 270px;
  height: 185px;
  background: url("../images/berkeley_room_4.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 759px;
  overflow: hidden;
}
.v19_203 {
  width: 269px;
  height: 184px;
  background: url("../images/berkeley_room_5.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 1107px;
  overflow: hidden;
}
.v19_204 {
  width: 270px;
  height: 183px;
  background: url("../images/berkeley_room_6.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 63px;
  overflow: hidden;
}
.v19_205 {
  width: 270px;
  height: 183px;
  background: url("../images/berkeley_room_7.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 290px;
  left: 410px;
  overflow: hidden;
}
.v19_206 {
  width: 270px;
  height: 182px;
  background: url("../images/berkeley_room_8.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 757px;
  overflow: hidden;
}
.v148_219 {
  width: 100%;
  height: 161px;
  background: url("../images/v148_219.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 594px;
  left: 0px;
  overflow: hidden;
}
.v148_220 {
  width: 100%;
  height: 20px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 141px;
  left: 1px;
  overflow: hidden;
}
.v148_221 {
  width: 100%;
  height: 143px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v148_222 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 31px;
  left: 1205px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_223 {
  width: 171px;
  height: 49px;
  background: url("../images/v148_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 1211px;
  overflow: hidden;
}
.v148_224 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_224.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
  overflow: hidden;
}
.v148_225 {
  width: 46px;
  height: 46px;
  background: url("../images/v148_225.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 61px;
  overflow: hidden;
}
.v148_226 {
  width: 49px;
  height: 49px;
  background: url("../images/v148_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  overflow: hidden;
}
.v148_227 {
  width: 775px;
  height: 76px;
  background: url("../images/v148_227.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: Lato;
  font-weight: Regular;
  opacity: 1;
  position: absolute;
  top: 33px;
  left: 351px;
  overflow: hidden;
}
.v148_228 {
  width: 342px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_229 {
  width: 359px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 416px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_230 {
  width: 165px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 90px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_231 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 33px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v148_232 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 55px;
  left: 34px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v105_4 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 346px;
  left: 50px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 25px;
  opacity: 1;
  text-align: left;
}
.v82_2 {
  width: 100%;
  height: 56px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 0px;
  overflow: hidden;
}
.v71_118 {
  width: 100%;
  height: 208px;
  background: url("../images/v71_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v71_119 {
  width: 100%;
  height: 159px;
  background: rgba(37,40,61,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v71_120 {
  width: 286px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 1156px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_121 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 867px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_122 {
  width: 285px;
  height: 50px;
  background: rgba(159,132,189,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 578px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_123 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 289px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_124 {
  width: 285px;
  height: 50px;
  background: rgba(221,221,221,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 0px;
  border: 1px solid rgba(255,255,255,1);
  overflow: hidden;
}
.v71_125 {
  width: 48px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 1275px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_126 {
  width: 150px;
  height: 121px;
  background: url("../images/v71_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 49px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v71_128 {
  width: 907px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 31px;
  left: 268px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: center;
}
.v71_129 {
  width: 74px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 110px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v71_130 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 390px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v71_131 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 169px;
  left: 676px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v71_132 {
  width: 62px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 978px;
  font-family: Lato;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
