@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/******* HEADER ********/

.title{
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color:white;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.current-tab {
  background: #9F84BD;
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;
  color: white;
  box-sizing: border-box;
  width: 20vw;
  height: 50px;
  margin-bottom: 20px;
}

.current-tab a{
  text-decoration: none;
  color: white;
}

.nav_title {
  display: flex;
  flex-direction: row;
  background-color: #25283D;
  align-items: center;
  justify-content: center;
  align-self:center;
  margin-top:0px;
  margin-bottom:0px;
  border-bottom: solid 10px #9F84BD;
}

.nav-tabs {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  background: #DDDDDD;
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;

  box-sizing: border-box;
  width: 20vw;
  height: 50px;
  margin-bottom: 20px;
}

.nav-tab a {
   color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-tab-name{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align:center;
  margin-bottom: 10px;
  margin-top:10px;
}
.nav-tab-name:visited{
  text-decoration: none;
}


#logo {
  margin-top: 3px;
  margin-bottom: 3px;
}

.col{
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-right:3vw;
}

.row {
  display:flex;
  flex-direction: row;
}

/******* HOME PAGE ********/

.map {
  width: 100%;
  height: 251px;
  border: 0;

}

#notice-box {
  border: 1px solid #C09B16;
  padding-left: 2vw;
  padding-right:2vw;
  margin-top:5vh;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

#home{
  margin-left: 5vw;
  margin-right:5vw;
}

#covid {
  font-size: 36px;
  font-weight: bold;
  padding-right: 5px;
}

#welcome {
  color: #9F84BD;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin-bottom:0px;
}

#mic {
  height: 41vh;
  /* margin: 0px 0px 0px 0px; */
  border-bottom: 1vh solid #C09B16;
  margin-right:3vw;
  margin-top:1vh;
}

#locations {

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.city {
  color: #199DA4;
  font-family:Lato;
  margin-bottom:0px;
  font-weight:normal;
  font-size: 28px !important;
}

.loc-bold {
  font-size: 18px;
  font-weight: bold;
  margin-right: 2vw;
}

.loc-info {
  font-size: 18px;
}

/******* ABOUT PAGE ********/
h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  margin-top: 5vh;
  margin-bottom:0px;
}

.about-page {
  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 0px;
}

#sign {
  margin-left: 5vw;
}


/******* CALENDAR PAGE ********/


.calendar-page {
  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 0px;
}

.calendar-page p {
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 30px;
/* identical to box height */

display: flex;
align-items: center;

color: #000000;

}


.googleCalendar{
  border: 0;
  width: 80vw;
  height: 70vh;

}




/****** ROOMS ******/
.room {
  height: 18vh;
  /* margin-left: 2vw; */
  margin-right:2vw;
  align-items: center;
}

.room-num {
  font-size: 21px;
  text-align: center;
  padding-bottom: 0px;
  margin-bottom:1vh;

}

.room-price {
  font-size:18px;
  text-align:center;
  padding-top: 0px;
  margin-top:0px;

}

#roombox {
  margin-left: 1vw;
  margin-right:1vw;
}

/****** RENT PAGE******/

.img {
  width:100%;
  height:auto;
  /* vertical-align: middle; */
    align-items: center;
}

.pics_in_a_row{
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}

.img1, .img2{
  width:40%;
  margin:0 5%;
  min-width: 280px;
  text-align: center;
}
.img1 h1, .img2 h1{
  font-size: 32px;
  font-family:Lato;
}
.img1 img,.img2 img{
  width:100%;
}
@media(max-width:1100px){
  .img1, .img2{
    width:100%;
    margin:0px;
  }
}

.container{
  background:white;
  margin: 0 auto;
  padding: 5%;
  width: 75%;
}

.googleForm {
  border:0;
  min-height:400px;
  left:0;
  top:0;
  width:100%;
}

/******* FAQ PAGE ********/


.FAQ-page {
  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 0px;
}



/****** FOOTER ******/


 #footer {
   /* flex: 1 1 auto;
   position: absolute;
  width: 100%;
  height: 15%;
  padding-top: 2vh;
  margin-top: 75px;
background: #DDDDDD; */

flex: 1 1 auto;
background: #DDDDDD;
padding-top: 2vh;
margin-top: 75px;
height: 15%;
  width: 100%;

font-family: Lato;
font-style: normal;
font-weight: normal;



 }


 .row2 {
     display: flex;
     flex-wrap: wrap;
 }

 .row2 > [class*='col-'] {
    display: flex;
    flex-direction: column;
}
 .footerBottom {


  width: 100%;
  height: 20px;
  /* left: -1px; */
  bottom: 0px;

  background: #25283D;

}


.Contacts {
  /* flex: 1 1 auto; */
  display: flex;
  /* align-items: center; */
  margin-left: 5%;


}
.Contacts p{

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;


color: #000000;

}

/* .fb {
transform:scale(0.9);
} */


.gofundme {
  display: flex;
  justify-content: center;
  /* width: 100%;
  height: 20vh; */

  /* margin-bottom: 20px; */
  /* -webkit-transform:scale(0.75);
  -moz-transform:scale(0.75);
  -o-transform:scale(0.75); */
  /* transform:scale(0.75); */
}

.fbdiv {
  margin-left: 3%;
  /* margin-top: -1%; */
    display: flex;
    /* align-items: center; */


}
.fbdiv p {
  font-family: Lato;
  font-style: normal;

  font-size: 14px;
}

.BerkeleyLocation {

  /* width: 342px;
  height: 76px; */

  /* top: 1284px; */
margin-left: 2%;
  font-family: Lato;
  font-style: normal;
  /* font-weight: normal; */
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}

.BerkeleyLocation p {
  font-size: 16px;

}

.OaklandLocation p {
  font-size: 16px;

}

.OaklandLocation {

  /* width: 359px;
  height: 76px; */

  /* top: 10%; */
margin-left: 2%;
  font-family: Lato;
  font-style: normal;
  /* font-weight: normal; */
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;

  color: #000000;
}

.Social p {
  font-size: 16px;
}
.SocialMedia {
margin-left: 5%;
  /* width: 183px;
  height: 19px; */

  /* top: 1282px; */

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  display: flex;

  text-align: center;

  color: #000000;

}

.mediaImages img{
  margin-left: .5vw;
  margin-right: .5vw;
  margin-top: .5vw;
}
.gfm-embed {
  position: relative;
  margin-top: 5vh;
  margin-bottom:5vh;
  margin-left: 430px;
  margin-right: 206px;
  /* overflow: hidden; */
}
.facebook{
 display: flex;
 justify-content: center;
}

/****** SITE ******/
 #site-container {
  /* display: flex;
  flex-direction: column; */
  min-height: 100%;
  /* margin: 0 auto -150px; */
  position: relative;


}

#site-content {
  /* flex: 1; */
  padding-bottom: 2.5rem;
}


/****** ErrorPage ******/
.ErrorMessageTitle {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 50px;
}


.ErrorMessageBody {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
}


/****** Popup ******/
.popupgroup {


  position: relative;
  width: 600px;
  height: 750px;
  /* align-items: center; */
  /* display: flex; */
  display: block;
  /* margin: 0 auto; */
  background-size: cover;
  /* text-align: center; */
  background: url("./images/karaokebackground1.png");

}

.blur {
  position: fixed;
  background-color: rgb(0, 0, 0.5);
  opacity: .5;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right:0;
  bottom:0;
}

.PopupTitle {
  position: relative;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  top:70px;

  color: #FFFFFF;

}


.PopupBody {
  position: relative;
  padding-left: 1vw;
  padding-right:1vw;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  top:90px;

  color: #FFFFFF;
}

.PopupClose {
  text-align: center;
}


.PopupButton {
  position: relative;
  width: 293px;
  height: 76px;
  top: 170px;
  cursor:pointer;

  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  color: #000000;

}

.PopupButton a {
    border: none;
}
