@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

p{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
}

/******* HEADER ********/

.title{
  margin-top: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 80px;
  color:white;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.nav_title {
  display: flex;
  flex-direction: row;
  background-color: #25283D;
  align-items: center;
  justify-content: center;
  align-self:center;
  margin-top:0px;
  margin-bottom:0px;
  border-bottom: solid 10px #9F84BD;
}

.nav-tabs {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.nav-tab {
  background: #DDDDDD;
  border-left: 3px solid #FFFFFF;
  border-right: 3px solid #FFFFFF;

  box-sizing: border-box;
  width: 285px;
  height: 50px;
  margin-bottom: 20px;
}

.nav-tab a {
   color: rgb(0, 0, 0);
    text-decoration: none;
}

.nav-tab-name{
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align:center;
  margin-bottom: 10px;
  margin-top:10px;
}
.nav-tab-name:visited{
  text-decoration: none;
}


#logo {
  margin-top: 3px;
  margin-bottom: 3px;
}

.col{
  display: flex;
  flex-direction: column;
  margin-left: 3vw; 
  margin-right:3vw;
}

.row {
  display:flex;
  flex-direction: row;
}

/******* HOME PAGE ********/
#notice-box {
  border: 1px solid #C09B16;
  padding-left: 2vw;
  padding-right:2vw;
  margin-top:5vh;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

#home{
  margin-left: 5vw;
  margin-right:5vw;
}

#covid {
  font-size: 36px;
  font-weight: bold;
  padding-right: 5px;
}

#welcome {
  color: #9F84BD;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin-bottom:0px;
}

#mic {
  height: 41vh;
  /* margin: 0px 0px 0px 0px; */
  border-bottom: 1vh solid #C09B16;
  margin-right:3vw;
  margin-top:1vh;
}

#locations {

  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.city {
  color: #199DA4;
  font-family:Lato;
  margin-bottom:0px;
  font-weight:normal;
  font-size: 28px !important;
}

.loc-bold {
  font-size: 18px;
  font-weight: bold;
  margin-right: 2vw;
}

.loc-info {
  font-size: 18px;
}

/******* ABOUT PAGE ********/
h1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  margin-top: 5vh;
  margin-bottom:0px;
}

.about-page {
  margin-left: 8vw;
  margin-right:8vw;
  margin-top: 0px;
}

#sign {
  margin-left: 5vw;
}


/****** FOOTER ******/
footer {

  align-self:center;
  bottom: 100;
  width: 100%;
 }